.dice {
  display: flex;
  position: relative;
  max-width: 200px;
}

.dice .result {
  display: flex;
  padding: 0.2em;
}
.dice .result output {
  padding: 0.2em;
  display: block;
  width: 1em;
  height: 1em;
  border: solid thin silver;
  border-radius: 4px;
}

.dice .result.idle output {
  animation: roll 0.25s 1;
}

.history {
  padding: 0.2em;
  font-size: 0.8em;
  color: #444;
  position: absolute;
  background: white;
  width: 100px;
  border: solid thin silver;
  right: -105px;
  max-height: 10em;
  overflow-y: auto;
  z-index: 1;
  box-shadow: 2px 2px 2px gray;
}

.history output {
  display: block;
}

@keyframes roll {
  from {transform: rotateX(0) }
  100% {transform: rotateX(calc(360deg * 5)) }
}

